{% extends 'clientbase.html' %} 
{% block title %}HOME{% endblock %} 
{% block home %}active{% endblock %} 
{% block content %}
<blockquote class="blockquote text-center">
    <p class="mb-0">
        <h1 class="display-6">HomePage</h1>
    </p>
  </blockquote> 
<ul>
{% for category in categories %}
<li>
    {{category.title}}
</li>
<ul>
    {% for news in category.allnews.all %} 
    <li>
        <a href="{% url 'everestapp:clientnewsdetail' news.id %}">{{news.title}}

        </a>
    </li>
    {% endfor %}
</ul>
{% endfor %}
</ul>
{% endblock %} 


`
